<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<br>
    <h1>폼 실습을 해봅시다</h1></br>

    <h2>GET 요청</h2>

    <form action="/login" method="get">
        <label for="id">ID</label>
        <input type="text" name="id" placeholder="ID는 최소 3글자" minlength="3">
        <label for="pw">PW
            <input type="password" name="pw" placeholder="PW" id="pw" required>
        </label>

        <button>제출</button>
    </form>
</br>
    <h2>POST 요청</h2>

    <form action="/login" method="post">
        <label for="id">ID</label>
        <input type="text" name="id" placeholder="ID는 최소 3글자" minlength="3">
        <label for="pw">PW
            <input type="password" name="pw" placeholder="PW" id="pw" required>
        </label>
        <button>제출</button>
    </form>
</body>
</html>