<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Signup</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form name="login">
      <label for="userid">ID</label>
      <input type="text" id="userid" name="userid" /><br />
      <label for="pw">PW</label>
      <input type="password" id="pw" name="pw" /><br />
      <button type="button" onclick="logIn()">로그인</button>

      <div class="result"></div>
    </form>

    <script>
      const resultBox = document.querySelector(".result");

      async function logIn() {
        const form = document.forms["login"];
       

        try {
          const response = await axios({
            method: "POST",
            url: "/login",
            data: {
              userid: form.userid.value,
              pw: form.pw.value,
            },
          });

          if(response.data.result){
            alert('로그인 성공!');
          }

          //   resultBox.textContent = `${id}, ${pw}`;
        } catch (error) {
          console.log(error);
          resultBox.textContent = "에러가 발생했습니다 다시 확인해주세요";
        }
      }
    </script>
  </body>
</html>
