<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Signup</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <form name="register">
      <label for="name">이름</label>
      <input type="text" id="name" name="name" /><br />
      <label for="userid">ID</label>
      <input type="text" id="userid" name="userid" /><br />
      <label for="pw">PW</label>
      <input type="password" id="pw" name="pw" /><br />
      <button type="button" onclick="signUp()">회원가입</button>

      <div class="result"></div>
    </form>

    <script>
      const resultBox = document.querySelector(".result");

      async function signUp() {
        const form = document.forms["register"];

        try {
          const response = await axios({
            method: "POST",
            url: "/register",
            data: {
              name: form.name.value,
              userid: form.userid.value,
              pw: form.pw.value,
            },
          });
          
          console.log(response);
          
          if(response.data.result){
            alert('회원가입을 축하드립니다');
            document.location.href='/';
          }

        } catch (error) {
          console.log(error);
          resultBox.textContent = "에러가 발생했습니다 다시 확인해주세요";
        }
      }
    </script>
  </body>
</html>
