<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Signup</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form name="login">
      <label for="id">ID</label>
      <input type="text" id="id" name="id" /><br />
      <label for="pw">PW</label>
      <input type="password" id="pw" name="pw" /><br />
      <button type="button" onclick="logIn()">로그인</button>

      <div class="result"></div>
    </form>

    <script>
      const resultBox = document.querySelector(".result");

      async function logIn() {
        const form = document.forms["login"];
        //폼 요소 확인
        console.log(form);
        console.log(form.id);
        console.log(form.pw);

        //폼 요소 value 값
        const data = {
          id: form.id.value,
          pw: form.pw.value,
        };

        console.log("data > ", data);

        try {
          const response = await axios({
            method: "post",
            url: "/login",
            data: data,
          });
          console.log(response);

          const { id, pw } = response.data;

        //   resultBox.textContent = `${id}, ${pw}`;
        } catch (error) {
          console.log(error);
          resultBox.textContent = "에러가 발생했습니다 다시 확인해주세요";
        }
      }
    </script>
  </body>
</html>
